:root {
  --clr__background: hsl(0, 0%, 98%);
  --clr__background-dark: hsl(207, 26%, 17%);
  --clr__text: hsl(200, 15%, 8%);
  --clr__text-dark: hsl(209, 23%, 22%);
  --clr__input: hsl(0, 0%, 52%);
  --clr__input-dark: hsl(209, 23%, 22%);
  --clr__white: hsl(0, 0%, 100%);

  --fs-400: 300;
  --fs-500: 600;
  --fs-600: 800;
}
