:root {
  --clr__background__accent: hsl(0, 0%, 98%);
  --clr__background__accent-dark: hsl(209, 23%, 22%);
  --clr__background: hsl(0, 0%, 98%);
  --clr__background-dark: hsl(207, 26%, 17%);
  --clr__text: hsl(200, 15%, 8%);
  --clr__text-dark: hsl(209, 23%, 22%);
  --clr__input: hsl(0, 0%, 52%);
  --clr__input-dark: hsl(209, 23%, 22%);
  --clr__white: hsl(0, 0%, 100%);
  --clr__shadow: rgba(225, 225, 225, 0.5);

  --fs-400: 300;
  --fs-500: 600;
  --fs-600: 800;

  --spacer-100: 0.25rem;
  --spacer-200: 0.5rem;
  --spacer-300: 0.75rem;
  --spacer-400: 1rem;
  --spacer-600: 2rem;
  --spacer-700: 3rem;
  --spacer-800: 4rem;

  --box-shadow: 0px 0px 5px 1px var(--clr__shadow);
  --border-radius: 5px;

  color: var(--clr__text);
}

a,
a:visited {
  color: var(--clr__text);
  text-decoration: none;
}

.globalWrapper {
  transition: background 250ms ease, color 250ms ease;
  background-color: var(--clr__background);
  min-height: 100vh;
  padding-bottom: var(--spacer-400);
}

.dark,
.dark :is(a, button) {
  --clr__background__accent: var(--clr__background__accent-dark);
  --clr__background: var(--clr__background-dark);
  --clr__text: var(--clr__text-dark);
  --clr__input: var(--clr__input-dark);
  --clr__white: hsl(0, 0%, 100%);
  --clr__shadow: hsl(207, 26%, 19%);
  --box-shadow: 0px 0px 5px 1px var(--clr__shadow);

  color: var(--clr__white);

  ::placeholder {
    color: var(--clr__white);
  }
}

// Utils
.container {
  padding-inline: var(--spacer-800);

  @media screen and (max-width: 768px) {
    padding-inline: var(--spacer-400);
  }
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.box,
.box * {
  border: 0;
}

.box {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--clr__background__accent);

  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.padding-100-700 {
  padding: var(--spacer-100) var(--spacer-700);
}

.gap-400 {
  gap: var(--spacer-400);
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.btn {
  padding: var(--spacer-200) var(--spacer-600);
  display: inline-flex;
  align-items: center;
  gap: var(--spacer-200);
  cursor: pointer;
  &:is(:hover, :focus) {
    scale: 1.05;
  }
}

// End Utils

// Navbar

.navBar {
  isolation: isolate;
  padding-block: var(--spacer-400);

  background-color: var(--clr__input);
  box-shadow: 0px 1px 15px -10px var(--clr__input);
  z-index: 2;

  h1 {
    font-size: clamp(0.75rem, 5vw, 1.25rem);
  }
  &:has(.light) {
    background-color: white;
  }
}

.navBar__container {
  justify-content: space-between;
}

.navBar__darkMode {
  gap: clamp(var(--spacer-100), 1vw, var(--spacer-300));
  cursor: pointer;
}

// End NavBar

// Main

.main {
  margin-top: var(--spacer-600);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacer-400);
  @media screen and (max-width: 768px) {
    justify-content: end;
  }
  input,
  select {
    background-color: inherit;
    color: inherit;
  }
}

.main-search {
  position: relative;
  width: 400px;
  input {
    padding: var(--spacer-400);
    padding-left: var(--spacer-700);
    padding-right: var(--spacer-600);
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.main-selectWrapper {
  align-self: flex-end;
}

.main-searchIcon {
  position: absolute;
  left: var(--spacer-300);
}

.main-clearIcon {
  cursor: pointer;
  position: absolute;
  right: var(--spacer-300);
}

.main-select {
  padding: var(--spacer-400);
}

.main-clear {
  cursor: pointer;
  padding-inline: var(--spacer-300);
}

// End Main

// Countries

.countries {
  margin-top: var(--spacer-600);

  display: grid;
  gap: var(--spacer-800);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  transition: all 550ms ease;
}

// End Countries

// Country card

.country {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  &:is(:hover, :focus) {
    transform: scale(1.05);
  }
}

.country__text {
  gap: var(--spacer-100);
}

.box-container {
  padding: var(--spacer-600) var(--spacer-400);
  h3 {
    margin-bottom: var(--spacer-300);
  }
}

// End Country card

// Country details

.countryDetails {
  margin-top: var(--spacer-700);
}

.countryDetails-btn {
  margin-bottom: var(--spacer-600);
}

.countryDetails-wrapper {
  justify-content: space-between;
  align-items: center;
  gap: var(--spacer-700);
  img {
    flex: 1;
  }
  div {
    flex: 2;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.countryDetails-innerWrapper {
  gap: var(--spacer-600);
}

// End Country details

// Loading
.loading-wrapper {
  display: grid;
}

.loading-card {
  width: 280px;
  height: 360px;
  animation: loading 250ms ease-in-out alternate infinite;
}

@keyframes loading {
  from {
    background-color: #333;
  }
  to {
    background-color: #999;
  }
}

// End Loading
