:root {
  --clr__background: hsl(0, 0%, 98%);
  --clr__background-dark: hsl(207, 26%, 17%);
  --clr__text: hsl(200, 15%, 8%);
  --clr__text-dark: hsl(209, 23%, 22%);
  --clr__input: hsl(0, 0%, 52%);
  --clr__input-dark: hsl(209, 23%, 22%);
  --clr__white: hsl(0, 0%, 100%);
  --clr__shadow: rgba(225, 225, 225, 0.5);

  --fs-400: 300;
  --fs-500: 600;
  --fs-600: 800;

  --spacer-100: 0.25rem;
  --spacer-300: 0.75rem;
  --spacer-400: 1rem;
  --spacer-600: 2rem;
  --spacer-800: 4rem;

  --box-shadow: 0px 0px 5px 1px var(--clr__shadow);
  --border-radius: 5px;

  color: var(--clr__text);
}

.globalWrapper {
  transition: background 250ms ease, color 250ms ease;
  background-color: var(--clr__background);
  min-height: 100vh;
}

.dark {
  --clr__background: var(--clr__background-dark);
  --clr__text: var(--clr__text-dark);
  --clr__input: var(--clr__input-dark);
  --clr__white: hsl(0, 0%, 100%);
  --clr__shadow: hsl(207, 26%, 19%);
  --box-shadow: 0px 0px 5px 1px var(--clr__shadow);

  color: var(--clr__white);
}

// Utils
.container {
  padding-inline: var(--spacer-800);

  @media screen and (max-width: 768px) {
    padding-inline: var(--spacer-400);
  }
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.box,
.box * {
  border: 0;
}

.box {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

// End Utils

// Navbar

.navBar {
  isolation: isolate;
  padding-block: var(--spacer-400);

  background-color: var(--clr__input);
  box-shadow: 0px 1px 15px -10px var(--clr__input);
  z-index: 2;

  h1 {
    font-size: clamp(0.75rem, 5vw, 1.25rem);
  }
  &:has(.light) {
    background-color: white;
  }
}

.navBar__container {
  justify-content: space-between;
}

.navBar__darkMode {
  gap: clamp(var(--spacer-100), 1vw, var(--spacer-300));
  cursor: pointer;
}

// End NavBar

// Main

.main {
  margin-top: var(--spacer-600);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacer-400);
  @media screen and (max-width: 768px) {
    justify-content: end;
  }
  input,
  select {
    background-color: inherit;
    color: inherit;
  }
}

.main-search {
  position: relative;
  width: 400px;
  input {
    padding: var(--spacer-400);
    padding-left: var(--spacer-600);
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.main-selectWrapper {
  align-self: flex-end;
}

.main-searchIcon {
  position: absolute;
  left: var(--spacer-300);
}

.main-select {
  padding: var(--spacer-400);
}

.main-clear {
  cursor: pointer;
  padding-inline: var(--spacer-300);
}

// End Main
